.example-container {
    width: 100%;
    height: 100%;
}

.app-menu {
    width: 200px;
    text-align: center;
}
.menu-item {
    padding-left: 10px;
}
.app-container {
    position: fixed;
    height: 100%;
    width: 100%;
}
.container {
    padding: 25px 20px;
}
